img{
    border: 0 none;
    max-width: 100%;
    height: auto;
}
a, .text-link{
    color: #575454;
    text-decoration: none;
    background: transparent;
}
a{
    color: #337ab7;
}
body, input, textarea, button, select{
    line-height: 1.7;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header nav {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul {
    list-style: none inside;
}